@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', serif;
	scroll-behavior: smooth;
}

@keyframes spin {
	from {
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes reverse-spin {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@keyframes left-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-80%);
	}
}
@keyframes right-scroll {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}
